<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light logo">
          Contact
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:+19452179299">+1 945 217 9299</a>
          </li>
          <li>
            <i class="fab fa-instagram fa-fw"></i>
            <a class="text-decoration-none" href="https://www.instagram.com/esenciadereinabyis/"
              target="_blank">@esenciadereinabyis</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:esenciadereinabyis@gmail.com">esenciadereinabyis@gmail.com
            </a>
          </li>
          <li>
            <i class="fab fa-whatsapp fa-fw"></i>
            <a class="text-decoration-none" href="https://wa.me/19452179299?text=Hola,%20buenas%20tarde"
              target="_blank">WhatsApp
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Earrings</a></li>
          <li><a class="text-decoration-none" href="#">Necklaces</a></li>
          <li><a class="text-decoration-none" href="#">Rings</a></li>
          <li><a class="text-decoration-none" href="#">Bracelets</a></li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">
          Navigation
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="index.html">Home</a></li>
          <li><a class="text-decoration-none" href="shop.html">Shop</a></li>

          <li>
            <a class="text-decoration-none" href="about.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
    </div>
  </div>

  <div class="w-100 py-2" style="background-color: #004750;">
    <div class="container">
      <div class="row pt-1">
        <div class="col-12 ">
          <p class="text-left mb-0 ">
            Copyright &copy; 2025 Esencia de Reina, by Isabel Seoane
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>